body {
    background: url(./Images/po1.png) center center repeat;
    background-size: 16em;
    background-color: yellow;

}

.title {
    color: crimson;
    font-size: 8em;
    background-color: white;
    border-radius: 15px;
    border: 4px solid crimson;
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: auto;
    text-align: center;
}

.titlecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4em;
    text-align: center;
}

.container {
    text-align: center;
}

h2 {
    background-color: white;
    border: 2px solid green;
    margin-left: 4em;
    margin-right: 4em;
}

.grid {
    background-color: white;
    border: 4px solid mediumslateblue;
    margin-left: 4em;
    margin-right: 4em;

}

.navbar {
    align-items: center;
    justify-content: center;
    display: space-between;
    margin-left: 4em;
    margin-right: 4em;
    text-align: center;
}

.navbutton {
    background-color: white;
    border: 4px solid blue;
    width: 300px;
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
}



a {
    font-size: 4em;
    display: flex;
}