body {
    background: url(./Images/tailung2.png) center center repeat;
    background-size: 16em;
    background-color: lightcoral;
}

@media only screen and (min-width: 320px) {
    img {
        max-width: 80%;
    }
}

@media only screen and (min-width: 900px) {
    img {
        max-width: 300px;
        max-height: 300px;
    }
}