#logo {
    max-height: 50%;
    max-width: 50%;
}

.titlecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4em;
    text-align: center;
}

.container {
    text-align: center;
}

h2 {
    background-color: white;
    border: 2px solid green;
    margin-left: 4em;
    margin-right: 4em;
}

.grid {
    text-align: center;
    margin-left: 4em;
    margin-right: 4em;
}

.scroll.vertical {
    background-image: url(./Images/scroll5.png);
    background-size: 100% 100%;
    padding-top: 8em;
    padding-bottom: 8em;
    padding-left: 12em;
    padding-right: 12em;
}

.scroll.horizontal {
    background-image: url(./Images/scroll3.png);
    background-size: 100% 100%;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 14em;
    padding-right: 14em;
    margin-left: 4em;
    margin-right: 4em;
}

.navbar {
    align-items: center;
    justify-content: center;
    display: space-between;
    margin-left: 4em;
    margin-right: 4em;
    text-align: center;
}

.navbutton {
    width: 300px;
    height: 100px;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 3em;
}

#nav {
    vertical-align: middle;
    max-height: 100px; 
    max-width: 100px;
}

#info.navbutton {
    background-image: url(./Images/Knapp1.png);
    background-size: 100% 100%;
}

#info.navbutton:hover {
    background-image: url(Images/Knapp5.png);
}

#history.navbutton {
    background-image: url(./Images/Knapp2.png);
    background-size: 100% 100%;
}

#history.navbutton:hover {
    background-image: url(Images/Knapp5.png);
}

#lore.navbutton {
    background-image: url(./Images/Knapp4.png);
    background-size: 100% 100%;
}

#lore.navbutton:hover {
    background-image: url(Images/Knapp5.png);
}


.hisbutton {
    width: 200px;
    height: 70px;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 3em;
}

#nav {
    vertical-align: middle;
    max-height: 100px; 
    max-width: 100px;
}

#his1.hisbutton {
    background-image: url(./Images/knapp3.png);
    background-size: 100% 100%;
}

#his1.hisbutton:hover {
    background-image: url(Images/Knapp5.png);
}

