
/*Style för mobil */
@media only screen and (min-width: 320px) {

    body {
        font-size: 50%;
    }

    #logo {
        max-height: 100%;
        max-width: 100%;
    }

    .titlecontainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2em;
        text-align: center;
    }

    .grid {
        text-align: center;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .scroll.vertical {
        background-image: url(./Images/mobil-scroll.png);
        background-size: 100% 100%;
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left: 2em;
        padding-right: 2em;
    }

    .scroll.horizontal {
        background-image: url(./Images/mobil-scroll.png);
        background-size: 100% 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 2em;
        padding-right: 2em;
        margin-left: 0;
        margin-right: 0;
    }

    .navbar {
        align-items: center;
        justify-content: center;
        display: space-between;
        margin-left: 0em;
        margin-right: 0em;
        text-align: center;
    }

    .navbutton {
        width: 70px;
        height: 100px;
        display: inline-block;
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding-top: 2em;
        padding-bottom: 0em;
        font-size: 2em;
        max-width: 100px;
        max-height: 30%;
    }

    #nav {
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
    }

    #info.navbutton {
        background-image: url(./Images/Knapp1.png);
        background-size: 100% 100%;
    }

    #info.navbutton:hover {
        background-image: url(Images/Knapp5.png);
    }

    #history.navbutton {
        background-image: url(./Images/Knapp2.png);
        background-size: 100% 100%;
    }

    #history.navbutton:hover {
        background-image: url(Images/Knapp5.png);
    }

    #lore.navbutton {
        background-image: url(./Images/Knapp4.png);
        background-size: 100% 100%;
    }

    #lore.navbutton:hover {
        background-image: url(Images/Knapp5.png);
    }

    #funny.navbutton {
        background-image: url(./Images/knapp6.png);
        background-size: 100% 100%;
    }

    #funny.navbutton:hover {
        background-image: url(Images/Knapp5.png);
    }

    #subhis.navbutton {
        background-image: url(./Images/knapp3.png);
        background-size: 100% 100%;
        max-height: 3em;
    }

    #subhis.navbutton:hover {
        background-image: url(Images/Knapp5.png);
    }
}

/*Style för desktop */
@media only screen and (min-width: 900px) {

    body {
        font-size: 100%;
    }

    #logo {
        max-height: 50%;
        max-width: 50%;
    }

    .titlecontainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 4em;
        text-align: center;
    }

    .grid {
        text-align: center;
        margin-left: 4em;
        margin-right: 4em;
    }

    .scroll.vertical {
        background-image: url(./Images/scroll5.png);
        background-size: 100% 100%;
        padding-top: 8em;
        padding-bottom: 8em;
        padding-left: 12em;
        padding-right: 12em;
    }

    .scroll.horizontal {
        background-image: url(./Images/scroll3.png);
        background-size: 100% 100%;
        padding-top: 4em;
        padding-bottom: 4em;
        padding-left: 14em;
        padding-right: 14em;
        margin-left: 4em;
        margin-right: 4em;
    }

    .navbar {
        align-items: center;
        justify-content: center;
        display: space-between;
        margin-left: 4em;
        margin-right: 4em;
        text-align: center;
    }

    .navbutton {
        width: 300px;
        height: 100px;
        display: inline-block;
        margin-left: 1em;
        margin-right: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 3em;
        max-width: 20%;
        max-height: 20%;
    }

    #nav {
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
    }

    #info.navbutton {
        background-image: url(./Images/Knapp1.png);
        background-size: 100% 100%;
    }

    #info.navbutton:hover {
        background-image: url(Images/Knapp5.png);
    }

    #history.navbutton {
        background-image: url(./Images/Knapp2.png);
        background-size: 100% 100%;
    }

    #history.navbutton:hover {
        background-image: url(Images/Knapp5.png);
    }

    #lore.navbutton {
        background-image: url(./Images/Knapp4.png);
        background-size: 100% 100%;
    }

    #lore.navbutton:hover {
        background-image: url(Images/Knapp5.png);
    }

    #funny.navbutton {
        background-image: url(./Images/knapp6.png);
        background-size: 100% 100%;
    }

    #funny.navbutton:hover {
        background-image: url(Images/Knapp5.png);
    }


    #subhis.navbutton {
        background-image: url(./Images/knapp3.png);
        background-size: 100% 100%;
        width: 150px;
        height: 100px;
    }

    #subhis.navbutton:hover {
        background-image: url(Images/Knapp5.png);
        width: 150px;
        height: 100px;
    }
}

/* Style för timern mobil */
@media only screen and (min-width: 320px) {
    .wrapper {
        display: flex;
        justify-content: center;
        /* horizontal center */
        align-items: center;
        /* vertical center */
        margin-bottom: 2em;
    }

    .countdown {
        display: flex;
        gap: 1em;
    }

    .time-box {
        background-image: url("Images/scroll2.png");
        background-size: 100% 100%;
        padding-top: 2em;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        min-width: 8em;
        min-height: 7em;
        color: orange;
        max-width: 100%;
    }

    .number {
        font-size: 2em;
        font-weight: bold;
    }

    .label {
        font-size: 1em;
        text-transform: uppercase;
        margin-top: 5px;
    }
}

/* Style för timern desktop */
@media only screen and (min-width: 900px) {
    .wrapper {
        display: flex;
        justify-content: center;
        /* horizontal center */
        align-items: center;
        /* vertical center */
        margin-bottom: 0;
    }

    .countdown {
        display: flex;
        gap: 20px;
    }

    .time-box {
        background-image: url("Images/scroll2.png");
        background-size: 100% 100%;
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        min-width: 100px;
        color: orange;
    }

    .number {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .label {
        font-size: 0.9rem;
        text-transform: uppercase;
        margin-top: 5px;
        opacity: 0.7;
    }

}

.floatingegg {
    position: fixed;
    top: 90%;
    left: 105%;

    z-index: 0;
    /* Behind content */
    pointer-events: none;
    /* Won't block clicks */

    animation: floatMove 120s linear infinite
}


.floatingegg2 {
    position: fixed;
    top: 75%;
    left: -10%;

    z-index: 0;
    /* Behind content */
    pointer-events: none;
    /* Won't block clicks */

    animation: floatMove2 5s linear infinite
}

.floatingfun {
    position: fixed;
    top: -20%;
    left: 30%;
    width: 300px;
    height: 300px;

    z-index: 0;
    /* Behind content */
    pointer-events: none;
    /* Won't block clicks */

    animation: floatMove3 8s linear infinite
}

.floatingfun2 {
    position: fixed;
    top: -30%;
    left: 65%;
    width: 300px;
    height: 300px;

    z-index: 0;
    /* Behind content */
    pointer-events: none;
    /* Won't block clicks */

    animation: floatMove3 10s linear infinite
}

.floatingfun3 {
    position: fixed;
    top: 110%;
    left: 10%;
    width: 300px;
    height: 300px;

    z-index: 0;
    /* Behind content */
    pointer-events: none;
    /* Won't block clicks */

    animation: floatMove4 7s linear infinite
}

.floatingfun4 {
    position: fixed;
    top: 110%;
    left: 60%;
    width: 300px;
    height: 300px;

    z-index: 0;
    /* Behind content */
    pointer-events: none;
    /* Won't block clicks */

    animation: floatMove4 6s linear infinite
}



.rotate {
    width: 100px;
    height: 100px;
    background: url('Images/egg3.png') no-repeat center;
    background-size: contain;

    animation: spin 10s linear infinite;
}

.rotate2 {
    width: 100px;
    height: 100px;
    background: url('Images/egg4.png') no-repeat center;
    background-size: contain;

    animation: spin 3s linear infinite;
}

.rotate3 {
    position: fixed;
    top: 25%;
    left: 75%;
    width: 300px;
    height: 300px;
    background: url('Images/po5.gif') no-repeat center;
    background-size: contain;

    animation: spin 60s linear infinite;
}

.rotate4 {
    position: fixed;
    top: 65%;
    left: 30%;
    width: 300px;
    height: 300px;
    background: url('Images/po4.gif') no-repeat center;
    background-size: contain;

    animation: spin 20s linear infinite;
}

.rotate5 {
    position: fixed;
    top: 10%;
    left: 20%;
    width: 300px;
    height: 300px;
    background: url('Images/tailung1.gif') no-repeat center;
    background-size: contain;

    animation: spin 8s linear infinite;
}

@keyframes floatMove {
    0% {
        transform: translate(0, 0);
    }

    65% {
        transform: translate(0, 0);
    }

    75% {
        transform: translate(-400px, -300px);
    }

    80% {
        transform: translate(-400px, -550px);
    }

    83% {
        transform: translate(-1000px, -550px);
    }

    86% {
        transform: translate(-1000px, 80px);
    }

    89% {
        transform: translate(-1800px, -300px);
    }

    100% {
        transform: translate(0, 0);
    }
}


@keyframes floatMove2 {
    0% {
        transform: translate(0, 0);
    }


    85% {
        transform: translate(300px, 0px);
    }


    100% {
        transform: translate(300px, -50px);
    }
}


@keyframes floatMove3 {
    0% {
        transform: translate(0, 0);
    }


    100% {
        transform: translate(10px, 500px);
    }
}


@keyframes floatMove4 {
    0% {
        transform: translate(0, 0);
    }


    100% {
        transform: translate(-15px, -500px);
    }
}







@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

/* Real content */
.content {
    position: relative;
    z-index: 2;
    /* Above floating image */
}

.spacer {
    height: 20000px;
}